*{
    font-family: "transducer-variable",sans-serif;
    font-variation-settings: 'wght' 818, 'wdth' 100, 'slnt' 0;
}

body{
    overflow-x: hidden;
  }

//   WHATSAPP BUTTON
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
// WHATSAPP BUTTON END
nav{
    .menuicon{
        background-image: url(../../img/favicon.png) !important;
    }
    background-color: #000;
    a{
        color: #fff !important;
        &:hover{
            color: $violeta !important;
        }
    }
}

.inicio{
    padding-top: 6vw;
    width: 100vw;
    height: 47vw;
    background-image: url(../../img/vwesfera.jpg);
    background-attachment: fixed;
    background-position: center top;
    text-align: center;
    h1{
        color: #fff;
        font-size: 13vw;
        .santiago{
            color: $violeta;
        }
    }
    p{
        color:#fff;
    }
    .iconos{
        i{
            margin: 10px;
            color: #fff;
        }
    }

}

.skills{
    background-image: url(../../img/img4.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
    padding: 7vw 0;
    .barrasprogreso{
        padding: 170px;
        @extend %degrademenos;
        // background-color: #ffffff28;
        border-radius: 10px;
        h2{
            margin: 10px;
            font-size: 70px;
            text-align: center;
            color: #fff;
        }
        h3{
            color: white;
            margin: 50px;
            text-align: center;
            text-decoration:underline $violeta;
        }
        p{
            color: $azul4;
        }
        .barra{
            background-color: $violeta !important;
        }
    }
}

.experiencia{
    @extend %degrade;
    h2{
        text-align: center;
        color: #fff;
    }
    .certificado{
        margin: 50px;
        
    }
}

.proyectos{
    background-image: url(../../img/vwhand.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
    width: 100%;
    .webs{
        display: inline-block;
        width: 300px;
        img{
            height: 250px;
        }
    }
}
